# Database (MySQL)
POSTGRES_USER=labeller
POSTGRES_PASSWORD=labeller123
POSTGRES_DB=labellingdb
POSTGRES_PORT=3306

# Backend
BACKEND_HOST=http://localhost:8088
BACKEND_PORT=8088

# Frontend
FRONTEND_HOST=http://localhost:5173
FRONTEND_PORT=5173
