version: '3.8'

services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: labeller
      POSTGRES_PASSWORD: labeller123
      POSTGRES_DB: labellingdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
